---
// This component now uses CommentBox.io
// Make sure to add your Project ID below!
---
<div 
  class="commentbox"
  data-project-id="YOUR_PROJECT_ID_HERE"
  data-page-id={Astro.url.pathname}
>
</div>

<script 
  src="https://commentbox.io/js/commentbox.min.js"
  client:visible
>
</script>